<div class="row">
  <div class="col-xs-12">
    <ul class="list-unstyled">
      {{#each unansweredPrayers as |prayer|}}
        {{basic-prayer prayer=prayer}}
      {{else}}
        <li>
          <p class="lead">All prayers have been answered, amen!</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{#if answeredPrayers}}
    <h4>Answered</h4>

    <ul class="list-unstyled">
      {{#each answeredPrayers}}
        <li>
          <h3>
            {{created}}
            {{#if title}}
              - {{title}}
            {{/if}}

            <button type="button" {{bind-attr class=':btn answered:btn-link:btn-default :pull-right answered:disabled'}}>
              {{answered}}
            </button>
          </h3>
          <p>{{summary}}</p>
        </li>
      {{else}}
        <li>
          <p>No prayers have been answered.</p>
        </li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>
